.container1 {
  background-color: rgba(55, 61, 96, 0.8);
  height: 70vh;
  width: 100vw;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin: 0;
  overflow: hidden;
  transform: translateY(-404px);
  /* width: 100%; */
  overflow: hidden;
  position: absolute;
}

.cover {
  background-image: url("../assets/girl.jpg");
  height: 70vh;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  margin-left: 0px;
  margin: 0;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}

.profile {
  height: max-content;
  background-color: rgba(9, 9, 9, 0.08);
  width: 30%;
  position: relative;
  margin-left: 450px;
  align-items: center;
  background-size: cover;
  border-radius: 10px;
  margin-top: 340px;
  margin-bottom: 0;
  position: absolute;
}

.image {
  background-image: url("../assets/girl.jpg");
  background-size: cover;
  border-radius: 50%;
  height: 130px;
  width: 130px;
  margin-left: 120px;
  transform: translateY(-40px);
}

.set {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 40px;
}

.sec {
  background-color: white;
  height: 60px;
  width: 100%;
  border-radius: 10px;
}

.info {
  margin-bottom: 50px;
  margin-top: 10px;
  font-family: sans-serif;
  font-weight: bolder;
  font-style: italic;
  font-size: large;
  display: flex;
  color: white;
}

.title {
  margin-top: 55px;
  margin-left: 10px;
  font-family: sans-serif;
  font-weight: bolder;
}

.greet {
  margin-top: 120px;
  color: white;
  margin-left: 50px;
}

.back {
  background-image: url("../assets/seA.jpg");
  background-size: cover;
  background-position: center;
  margin-left: 40%;
  height: 100vh;
  width: 100vw;
  padding: 0;
  margin: 0;
  /* transform: translateY(-404px); */
  overflow: hidden;
  margin: 0%;
}

.contianer {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: absolute;
}

section {
  overflow-y: hidden;
}

#a {
  display: inline-block;
  max-width: 40%;
  max-height: inherit;
  max-width: inherit;
  box-sizing: border-box;
  overflow: hidden;
  word-wrap: break-word;
  margin-left: 2%;
}

label {
  color: black;
  font-size: 20px;
}
